/* common styles */
*{
    margin: 0px;
    padding: 0px;
}

ul li{
    list-style: none;
}
.btn-primary{
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    padding: 15px 36px;
    border-radius: 10px;
    text-decoration: none;
    background: #4E47FF;
    font-family: 'Railway', sans-serif;
}

@font-face {
    font-family: 'Railway', sans-serif;
    src: url('../fonts/railway/Railway.otf');
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/inter/Inter-Black.otf');
}

/* header styles */
header{
    width: 100%;
    height: 700px;
    margin-bottom: 116px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/banner-background.png');
}

nav{
    display: flex;
    margin: 50px 232px;
    justify-content: space-between;
}
nav .nav-title{
    font-size: 34px;
    color: #4E47FF;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
}

/* banner styles */
.banner-content{
    height: 602px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.banner-content .banner-title{
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Railway', sans-serif;
}

/* action styles */
.action-sec{
    margin: 0 232px 116px;
}

.action-content{
    display: flex;
    justify-content: space-between;
}

.action-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.action-details .action-title{
    font-size: 42px;
    font-weight: 700;
    color: #252432;
    font-family: 'Railway', sans-serif;
}
.action-details .action-description{
    font-size: 24px;
    padding: 23px 0;
    font-weight: 500;
    color: #8987A1;
    line-height: 1.6;
    font-family: 'Railway', sans-serif;
}

.action-image .image-action{
    border-radius: 50px;
}