/* common styles */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #F5F8FF;
}

main{
    background: #F5F8FF;
    border-bottom: 2px solid #f1f1f1;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
}

.btn-primary{
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    padding: 15px 36px;
    border-radius: 10px;
    text-decoration: none;
    background: #4E47FF;
    font-family: 'Railway', sans-serif;
}

@font-face {
    font-family: 'Railway', sans-serif;
    src: url('../fonts/railway/Railway.otf');
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/inter/Inter-Black.otf');
}

/* header styles */
header{
    width: 100%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/banner-background.png);
}

nav{
    display: flex;
    margin: 0 385px;
    max-width: 1140px;
    padding: 50px 0 0;
    justify-content: space-between;
}
nav .nav-title{
    font-size: 34px;
    color: #4E47FF;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
}

/* banner styles */
.banner-content{
    height: 602px;
    display: flex;
    margin: 0 385px;
    max-width: 1140px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.banner-content .banner-title{
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Railway', sans-serif;
}

/* action styles */
.action-sec{
    max-width: 1140px;
    margin: 116px 385px;
}

.action-content{
    display: flex;
    justify-content: space-between;
}

.action-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.action-details .action-title{
    font-size: 42px;
    font-weight: 700;
    color: #252432;
    font-family: 'Railway', sans-serif;
}
.action-details .action-description{
    font-size: 24px;
    padding: 23px 0;
    font-weight: 500;
    color: #8987A1;
    line-height: 1.6;
    font-family: 'Railway', sans-serif;
}

.action-image .image-action{
    border-radius: 50px;
}

/* productive styles */
.productive-sec{
    max-width: 1140px;
    margin: 0 385px 135px;
}

.productive-content{
    height: 306px;
    border-radius: 25px;
    background: rgba(78, 71, 255, 10%);
}
.productive-content .productive-title{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    padding: 50px 0 40px;
    font-family: 'Railway', sans-serif;
}

.productive-users{
    display: flex;
    margin: 0 142px;
    text-align: center;
    justify-content: center;
}

.focus-sessions{
    margin: 0 190px;
}
.active-user, .focus-user, .Satisfaction-user{
    font-size: 80px;
    color: #4E47FF;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
.active-user-title, .focus-user-title, .Satisfaction-user-title{
    font-size: 20px;
    color: #757575;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

/* users-say styles */
.users-say-sec{
    max-width: 1140px;
    margin: 0 385px 116px;
}

.users-say-title{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Railway', sans-serif;
}

.users-says{
    display: flex;
    justify-content: space-between;
}

.users-feedback{
    padding: 30px;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #f1f1f1;
}
.users-feedback .users-sub-title{
    font-size: 20px;
    font-weight: 700;
    margin: 24px 0 8px;
    font-family: 'Railway', sans-serif;
}
.users-feedback .users-description{
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 24px;
    font-family: 'Railway', sans-serif;
}

.users-reviewer{
    display: flex;
    align-items: center;
}
.reviewer-image .image-reviewer{
    border-radius: 50%;
}

.reviewer-details{
    margin-left: 12px;
}
.reviewer-details .details-title{
    font-size: 16px;
    font-weight: 600;
    color: #8987A1;
    font-family: 'Railway', sans-serif;
}
.reviewer-details .details-description{
    font-size: 16px;
    font-weight: 400;
    color: #8987A1;
    font-family: 'Railway', sans-serif;
}

/* focus styles */
.focus-sec{
    max-width: 1140px;
    margin: 0 385px 70px;
}

.focus-content{
    padding: 70px 0;
    text-align: center;
    border-radius: 20px;
    background: #ffffff;
}
.focus-content .focus-title{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Railway', sans-serif;
}
.focus-content .focus-sub-title{
    font-size: 16px;
    color: #8987A1;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: 'Railway', sans-serif;
}
.focus-content .focus-image{
    width: 80%;
    display: block;
    margin: 20px auto 0;
    border-radius: 50px;
}

/* touch styles */
.touch-sec{
    max-width: 1140px;
    margin: 90px 385px 0;
}

.touch-content{
    height: 632px;
    display: flex;
}

.touch-heading{
    height: 632px;
    display: flex;
    align-items: center;
}
.touch-heading .touch-title{
    font-size: 95px;
    font-weight: 700;
    font-family: 'Railway', sans-serif;
}

.touch-form{
    width: 620px;
    display: flex;
    height: 632px;
    align-items: center;
    justify-content: flex-end;
}

label{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

input{
    height: 60px;
    width: 450px;
    font-size: 20px;
    padding: 0 20px;
    font-weight: 500;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    font-family: 'Inter', sans-serif;
}

textarea{
    width: 450px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px 20px 0;
    border: 1px solid #f1f1f1;
    font-family: 'Inter', sans-serif;
}

#btn-primary{
    width: 492px;
}

/* footer styles */
.footer-sec{
    max-width: 1140px;
    margin: 90px 385px 0;
}

.footer-content{
    padding: 100px 0;
    text-align: center;
}

.footer-title{
    color: #4E47FF;
    font-size: 100px;
    font-weight: 800;
    padding-bottom: 10px;
    font-family: 'Inter', sans-serif;
}

.footer-description{
    font-size: 17px;
    font-weight: 400;
    color: #8987A1;
    line-height: 1.6;
    padding-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

.footer-bar{
    display: flex;
    justify-content: center;
}
.footer-bar li{
    padding: 0 24px;
}
.footer-bar li a{
    font-size: 16px;
    font-weight: 400;
    color: #8987A1;
    font-family: 'Inter', sans-serif;
}

/* more-details styles */
.more-details-sec{
    margin: 116px 385px;
    max-width: 1140px;
    text-align: center;
}

.more-details-content a button{
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin: 20px 0;
    padding: 15px 36px;
    border-radius: 10px;
    text-decoration: none;
    background: #4E47FF;
    transition: all linear 0.4s;
    font-family: 'Railway', sans-serif;
}
.more-details-content a:hover button{
    color: #000;
    background: #d9d90ead;
    transition: all linear 0.4s;
}

.more-details-title{
    font-size: 50px;
    font-weight: 700;
    color: #000000;
    font-family: 'Railway', sans-serif;
}